<form method="POST" action="/new">

    <label for="messageAuthor">Author name</label>
    <input name="messageAuthor">

    <br/> <br/>

    <label for="messageContent">Message</label>
    <input name="messageContent">

    <br/><br/>

    <input type="submit" value="Submit">
</form>